{
  "extends": [
    "eslint:recommended",
    "prettier",
    "airbnb",
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/prop-types": "none",
    "react/destructuring-assignment": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
  }
}
