{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "warn",
    "react/prop-types": "warn",
    "react/destructuring-assignment": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
  }
}
