rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /snippets/{snippetId} {
    	allow read;
      allow update, delete, create: if request.auth.uid == request.resource.data.userId;
    }
  }
}
