.form-group {
  margin-top: 24px;
}

.formTitle, .formNote {
  font-size: 16px;
  font-weight: 600;
  color: #24292e;
}

.inputboard, .noteinput {
  border-radius: 0.15rem;
  border: 1px solid rgba(0, 34, 51, 0.1);
}

.text-bold {
  font-size: 12px!important;
  font-weight: 600!important;
}

.pr-2 {
  padding-right: 8px!important;
}

.text-gray {
  color: #586069!important;
}

.flex-auto {
  flex: 1 1 auto!important;
}

.form-select {
  width: 100%;
}

.select-sm {
  font-size: 12px;
  height: 28px;
  min-height: 28px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.flex-auto {
  flex: 1 1 auto!important;
}

.btn-submit {
  background-color: #28a745;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.backButton-style {
  background-color: #eff3f6!important;
  margin-top: 3px!important;
}

.backButton {
  color: #24292e!important;
}
