.snippet-preview {
  margin-bottom: 50px;
  padding: 20px;
}

.snippet-preview-title {
  color: #ddd;
  font-size: 20px;
  line-height: 20px;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  border-bottom: 1px solid #ddd;
}

.snippet-preview-title a {
  color: #333;
}

.snippet-preview-code {
  background: #f6f6f6;
  padding: 1em;
  margin: 0;
  height: 100px;
  border-left: 5px solid #e2e6e6;
  border-radius: 2px;
  overflow: hidden;
}

.snippet-preview-note {
  color: #6c757d;
  font-size: 13px;
  padding: 0;
  margin: 0 0 10px 0;
}
