.badge-mystyle {
  color: black;
}

.nav-btn {
  border: none;
}

.newSnippet {
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
}

.newSnippet:hover {
  text-decoration: none;
  color: gray;
}
