.btn {
  float: right;
  font-size: 14px!important;
  font-weight: 600!important;
  line-height: 20px!important;
  padding: 6px 12px!important;
  position: relative!important;
  user-select: none!important;
  vertical-align: middle!important;
  white-space: nowrap!important;
}

.flex-auto {
  flex: 1 1 auto!important;
}

a {
  color: #ffffff!important;
}

.button-group {
  margin-right: 8px;
}

.btn-mystyle {
  background-color: #28a745!important;
  color: #ffffff;
  margin: 3px;
}
