header {
  background: #fff;
}

.top-nav a.navbar-brand {
  font-weight: bold;
  font-family: 'Roboto Mono', Courier, monospace;
  text-transform: uppercase;
  color: #089b81;
}

.top-nav a {
  font-size: 16px;
}

.sign-in-button {
  font-weight: bold;
}
