body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f6f6;
}

.container {
  max-width: 960px;
}

.whitebox {
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.btn-primary {
  background-color: #089b81;
  border-color: #089b81;
}

.btn-primary:hover {
  background-color: #056b59;
  border-color: #056b59;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.CodeMirror {
  font-size: 16px;
}

.page-title {
  font-size: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.snippet-header {
  height: 70px;
  border-bottom: 1px solid #eee;
}

.snippet-title {
  font-size: 25px;
  padding-top: 3%;
}

.snippet-top {
  border-right: 1px solid #eee;
  /* height: 100%; */
}

.snippet-note {
  padding: 10px;
  color: #555;
}

.snippet-actions {
  position: absolute;
  bottom: 0;
}

.code-mark-highlight {
  background-color: rgb(255, 255, 0, 0.4);
}

.CodeMirror-gutters {
  background: #fff;
  border: none;
}
