body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f6f6;
}

.container {
  max-width: 960px;
}

.whitebox {
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  overflow: hidden;
}

.btn-primary {
  background-color: #089b81;
  border-color: #089b81;
}

.btn-primary:hover {
  background-color: #056b59;
  border-color: #056b59;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.CodeMirror {
  font-size: 16px;
}

.page-title {
  font-size: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
