/* .btn-default {
  color: #ffffff;
  background-color: #51b371;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  border-radius: 3px;
  border: 1px solid transparent;
  text-decoration: none;
} */

.username, .logout, .login {
  color: black;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  padding-right: 10px;
  margin-right: 10px;
  border: none;
}

.username:hover, .logout:hover, .login:hover {
  text-decoration: none;
  color: gray;
}
